@use 'colors';
@use 'type';

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  @include type.regular-text;

  background-color: colors.$c-black;
}

h1, h2, h3, h4, h5, h6 {
  @include type.heading-text;

  color: colors.$c-black;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75em;
}
