@use 'sass:color';
@use 'colors';

.muski-drums-app.theme-dark {
  background-color: colors.$c-black;
  color: colors.$c-white;

  .muski-drums, .muski-bass {
    .muski-sequencer-matrix {
      td {
        border-color: transparent;
      }

      .muski-sequencer-cell {
        background-color: colors.$c-gray-mid;
        margin: 3px 1px;
        border-radius: 12%;
        &.active {
          outline: none;
        }
      }
    }

    &.with-ai .muski-sequencer-matrix {
      .muski-sequencer-cell {
        padding: 0;

        &::after {
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          background-color: colors.$c-white !important;
          border-radius: 50%;
          box-shadow: 0 0 4px 0px #0000007d;
          transition: transform 0.175s ease-in-out, opacity 0.175s ease-in-out;
          transform: scale(0.8);
          transform-origin: center;
          opacity: 0;
        }

        &.active {
          background-color: colors.$c-accent !important;
        }

        &.pulsing {
          @keyframes pulsing {
            0% {
              opacity: 0;
              transform: scale(0);
            }
            33% {
              opacity: 0.25;
              transform: scale(0.5);
            }
            100% {
              opacity: 0;
              transform: scale(0);
            }

          }
          &::after {
            animation: pulsing ease-in-out 0.6s 0s 1;
          }
        }

        &.on {
          background-color: colors.$c-gray-mid !important;
          &::after {
            animation: none;
            transform: scale(0.8);
            opacity: 1;
          }
        }

        &.active.on {
          background-color: colors.$c-accent !important;
          &::after {
            transform: scale(1);
            opacity: 1;
          }
        }

        &.ai-input {
          background: repeating-linear-gradient(135deg, colors.$c-black, colors.$c-black 2px, colors.$c-gray-dark 2px, colors.$c-gray-dark 6px);

          &.active {
            background: repeating-linear-gradient(135deg, colors.$c-black, colors.$c-black 2px, colors.$c-accent 2px, colors.$c-accent 6px);
          }

          &.on {
            background-color: colors.$c-gray-dark !important;
          }
        }
      }
    }

    .bar-button {
      background-color: transparent;

      .bar-button-bar {
        background-color: transparent;
      }

      .bar-button-button {
        background-color: colors.$c-accent;
        border-color: colors.$c-accent;
      }
    }

    .btn-control-round {
      background-color: colors.$c-accent;
      //border-color: colors.$c-accent;

      &:hover {
        background-color: color.scale(colors.$c-accent, $lightness: -15%) !important;
      }

      &:active {
        background-color: color.scale(colors.$c-accent, $lightness: -30%) !important;
      }
    }

    .muski-tempo .muski-tempo-label {
      color: colors.$c-black;
      background-color: colors.$c-accent;
    }
  }
}
